/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.7;
  font-family: "Montserrat";
  color: #000;
  text-align: center;
}

p {
  margin: 0;
}

.container {
  max-width: 1140px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 96px 0;
}

h4 {
  font-size: 18px;
  letter-spacing: 1px;
  font-family: "Lobster";
  color: #777777;
  margin: 0 0 60px 0;
}

h3 {
  font-size: 40px;
  font-weight: bold;
  font-family: "Montserrat";
}

h5 {
  font-size: 17px;
  font-family: "Montserrat";
  font-weight: bold;
  color: #000;
}

.main-photo {
  position: relative;
  background-image: url("https://i.postimg.cc/V6ptT0S1/zdjecie-glowne.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

/* Navigation */
nav {
  padding: 12px 0;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation p {
  color: #fed136;
  font-family: "Lobster";
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation li {
  display: inline-block;
  margin: 0 36px 0 0;
  position: relative;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
}

/* Splash */
.splash {
  height: 500px;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.splash-inner {
  margin: auto;
  max-width: 70%;
}

h1 {
  margin: 30px 0;
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-family: "Lobster";
}

.button {
  display: inline-block;
  min-width: 160px;
  margin: 24px auto 0 auto;
  padding: 10px;
  font-family: "Montserrat";
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  background: #fed136;
  color: #000;
}

.button:hover {
  text-decoration: none;
  color: #fff;
}

/* Services */
.services .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.services .row i {
  margin: 0 0 20px 0;
  color: #fed136;
  font-size: 30px;
  width: 65px;
  height: 65px;
  line-height: 60px;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: #fed136;
}

.services .row p {
  font-size: 13px;
  font-family: "Montserrat";
  color: #777777;
  font-weight: bold;
  padding: 0 14px;
}

/* Our Portfolio */
.our-portfolio {
  background: #f7f7f7;
}

.our-portfolio .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.our-portfolio .column {
  width: 290px;
  max-height: 450px;
  margin: 0 15px 35px 15px;
  background: #fff;
}

.our-portfolio .column img {
  max-height: 300px;
}

.our-portfolio .column h5 {
  text-align: center;
  padding: 15px 0 0 0;
  margin: 4px;
}

.our-portfolio .column h6 {
  font-size: 12px;
  color: #777777;
  font-family: "Lobster";
  margin: 0 0 20px 0;
}

/* Footer */
.page-footer {
  margin: 30px 0;
}

.page-footer .col-4 p {
  font-size: 10px;
  color: #777777;
  font-family: "Montserrat";
  margin: 5px;
  font-weight: bold;
}

.page-footer ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.page-footer ul li {
  list-style-type: none;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.page-footer .icon {
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.page-footer .icon i {
  font-size: 12px;
  color: #fff;
}

.page-footer .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
}
/*# sourceMappingURL=style.css.map */